
:root {
    --cor-forte: #222130;
    --cor-media: #474360;
    --cor-leve: #514a6c;
    --cor-default: #fffefe;
}


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
.all {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--cor-media);
    margin: 0;
    padding: 0;
    max-width: 1920;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    background-color: var(--cor-forte);
    margin: 0;
    color: var(--cor-default);
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.navList{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navListItem {
    display: inline;
    margin: 100px;
}

.navListLink {
    color: var(--cor-default);
    text-decoration: none;
    font-size: 18px;
}

.navListLink:hover {
    background-color: var(--cor-default);
    padding: 10px;
    color: var(--cor-forte);
}

.main {
    padding: 20px;
    text-align: center;
    margin-left: 50px; /* Ajuste para dar espaço suficiente para o aside */
    box-sizing: border-box; /* Incluir padding e borda na largura total */
}

.section {
    background-color: var(--cor-default);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 1200px;
    margin: 0 auto;
}

.topic {
    display: flex;
    font-weight: bolder;
    font-size: x-large;
}

.text {
    display: flex;
    text-align: justify;
    padding: 20px;
    font-size: 16px;
}

.perfil{
    width: 300px;
}

.footer {
    background-color: var(--cor-forte);
    color: var(--cor-default);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
