:root {
    --cor-forte: #222130;
    --cor-media: #474360;
    --cor-leve: #514a6c;
    --cor-default: #fffefe;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
.all {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--cor-media);
    margin: 0;
    padding: 0;
    max-width: 1920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    background-color: var(--cor-forte);
    margin: 0;
    color: var(--cor-default);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;

}

.navList {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.navListItem {
    display: inline;
    margin: 100px;
}

.navListLink {
    color: var(--cor-default);
    text-decoration: none;
    font-size: 18px;
    padding: 10px; /* Alterado padding para cá para que as palavras não fiquem se movendo no menu */
}

.navListLink:hover {
    background-color: var(--cor-default);
    color: var(--cor-forte);
    border-radius: 10px; /* Deixa os botões arredondados */
}

.main {
    padding: 70px;
    text-align: center;
    margin-left: 30px; /* Ajuste para dar espaço suficiente para o aside */
    box-sizing: border-box; /* Incluir padding e borda na largura total */
}

.section {
    background-color: var(--cor-default);
    padding: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
}


.topic {
    font-weight: bolder;
    font-size: x-large;
}

.text {
    display: flex;
    text-align: justify;
    padding: 20px;
    font-size: 16px;
}

.perfil{
    width: 300px;
}

.hRef {
    color: var(--cor-forte);
    margin-bottom: 30px;
}

.listRef {
    margin: 50px;
    list-style: none;
    text-align: start;
} 

.listRefItem {
    margin: 30px;
}

.linkRef {
    text-decoration: none;
    color: var(--cor-leve);
}

.linkRef:hover {
    color: var(--cor-forte);
}
.footer {
    background-color: var(--cor-forte);
    color: var(--cor-default);
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    font-size: 12px;
}